body{
    margin:0;
    font-family:Segoe UI;
    background:linear-gradient(120deg,#1f2a40,#0f172a);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-container{
    width:100%;
    display:flex;
    justify-content:center;
}

.login-box{
    background:white;
    padding:40px;
    width:350px;
    border-radius:12px;
    box-shadow:0 20px 40px rgba(0,0,0,0.4);
    text-align:center;
}

.login-box h2{
    margin-bottom:5px;
}

.login-box p{
    color:gray;
    margin-bottom:25px;
}

.login-box input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:6px;
}

.login-box button{
    width:100%;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-weight:bold;
}

.login-box button:hover{
    background:#1d4ed8;
}

.error{
    background:#fee2e2;
    color:#991b1b;
    padding:10px;
    border-radius:6px;
    margin-bottom:15px;
}
select{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:6px;
    background:white;
}

.forgot{
    margin-top:15px;
}

.forgot a{
    text-decoration:none;
    color:#2563eb;
    font-size:14px;
}

.forgot a:hover{
    text-decoration:underline;
}
/* NAVBAR */
.navbar{
    background:#0f172a;
    color:white;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logout-btn{
    color:white;
    background:#ef4444;
    padding:8px 14px;
    text-decoration:none;
    border-radius:5px;
}

/* MAIN CONTAINER */
.container{
    padding:25px;
}

/* CARDS */
.card-row{
    display:flex;
    gap:20px;
    margin-bottom:25px;
}

.card{
    background:white;
    padding:20px;
    flex:1;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* ACTION BUTTONS */
.action-row{
    margin-bottom:25px;
}

.action-btn{
    display:inline-block;
    background:#2563eb;
    color:white;
    padding:12px 18px;
    margin:8px;
    text-decoration:none;
    border-radius:6px;
}

/* TABLE */
.table-box{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

table{
    width:100%;
    border-collapse:collapse;
}

th, td{
    padding:12px;
    border-bottom:1px solid #ddd;
    text-align:left;
}